html 
    head 
        title formulario de produtos
    body 
        h1 formulario de produtos
        a(href="/products") listagem de produtos 
        form(action="/products/create", method='post')
            label(for="") Nome do produto 
                input(type="text",required, name="name",)
            button(type="submit") salvar